@page
@model SandboxRazor.Pages.HumanResource.EmployeePages.CreateModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Create";
}

<h1 class="my-4">Employee Create</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <!-- Validation Summary -->
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Employee.Code" class="control-label">Kode Karyawan</label>
                <input asp-for="Employee.Code" class="form-control" />
                <span asp-validation-for="Employee.Code" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Employee.Name" class="control-label">Nama Karyawan</label>
                <input asp-for="Employee.Name" class="form-control" />
                <span asp-validation-for="Employee.Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Employee.Note" class="control-label">Keterangan</label>
                <input asp-for="Employee.Note" class="form-control" />
                <span asp-validation-for="Employee.Note" class="text-danger"></span>
            </div>

            <br />
            <!-- Submit Button -->
            <div class="form-group">
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-save"></i> Save
                </button>
                <a class="btn btn-secondary" asp-page="./Index">
                    <i class="fas fa-arrow-left"></i> Back to List
                </a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}