@page
@model SandboxRazor.Pages.HumanResource.EmployeePages.EditModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Edit";
}

<h1 class="my-4">Employee Edit</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Employee.Code" class="control-label">Kode Karyawan</label>
                <input asp-for="Employee.Code" class="form-control" />
                <span asp-validation-for="Employee.Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.Name" class="control-label">Nama Karyawan</label>
                <input asp-for="Employee.Name" class="form-control" />
                <span asp-validation-for="Employee.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.Note" class="control-label">Keterangan</label>
                <input asp-for="Employee.Note" class="form-control" />
                <span asp-validation-for="Employee.Note" class="text-danger"></span>
            </div>
            <br />
            <input type="hidden" asp-for="Employee.Id" />
            <button type="submit" class="btn btn-primary">
                <i class="fas fa-save"></i> Save
            </button>
            <a class="btn btn-secondary" asp-page="./Index">
                <i class="fas fa-arrow-left"></i> Back to List
            </a>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
