@page
@model SandboxRazor.Pages.Pharmacy.TransactionPages.EditModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Transaction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Transaction.DocumentNumber" class="control-label"></label>
                <input asp-for="Transaction.DocumentNumber" class="form-control" />
                <span asp-validation-for="Transaction.DocumentNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transaction.DocumentDate" class="control-label"></label>
                <input asp-for="Transaction.DocumentDate" class="form-control" />
                <span asp-validation-for="Transaction.DocumentDate" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Transaction.Id" />
            <div class="form-group">
                <label asp-for="Transaction.IsActive" class="control-label"></label>
                <input asp-for="Transaction.IsActive" class="form-control" />
                <span asp-validation-for="Transaction.IsActive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transaction.IsDeleted" class="control-label"></label>
                <input asp-for="Transaction.IsDeleted" class="form-control" />
                <span asp-validation-for="Transaction.IsDeleted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transaction.CreatedUser" class="control-label"></label>
                <input asp-for="Transaction.CreatedUser" class="form-control" />
                <span asp-validation-for="Transaction.CreatedUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transaction.ModifiedUser" class="control-label"></label>
                <input asp-for="Transaction.ModifiedUser" class="form-control" />
                <span asp-validation-for="Transaction.ModifiedUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transaction.ModifiedDate" class="control-label"></label>
                <input asp-for="Transaction.ModifiedDate" class="form-control" />
                <span asp-validation-for="Transaction.ModifiedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
